.navButton a {
    color: #ebebeb !important;
    font-family: "Chivo", sans-serif;
    font-weight: 400;
    padding: 9px 12px;
    display: block;
    font-size: 18px;
    transition: all .3s ease-out 0s;
    text-transform: capitalize;
    position: relative;
    text-decoration: none;
}

.navButton a:hover {
    color: #198ffd !important;
}

.navButton button {
    color: #ebebeb !important;
    font-family: "Chivo", sans-serif;
    background-color: transparent !important;
    border: none !important;
    font-weight: 400;
    padding: 9px 12px;
    display: block;
    font-size: 18px;
    transition: all .3s ease-out 0s;
    text-transform: capitalize;
    position: relative;
    text-decoration: none;
}

.navButton button:hover {
    color: #198ffd !important;
}

.logo img {
    width: 30px;
}